/* Common */

.brackets-gh .loading .spinner {
    display: block
}

.brackets-gh .spinner {
    display: none;
    position: absolute;
    z-index: 1000;
    bottom: 50%;
    left: 50%;
}

.brackets-gh .loading .muted-bg {
    display: block;
}

.brackets-gh .muted-bg {
    display: none;
    position: absolute;
    z-index: 1000;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #999;
    opacity: 0.3;
}

.brackets-gh .issue-title {
    color: #454545;
    font-weight: 500;
}

.brackets-gh .issue-creation {
    color: #777;
}

.brackets-gh .issue-comment-input .comment-body {
    background-color: #fefefe;
    border: solid 1px #ddd;
    margin-left: 1px;
    margin-top: 10px;
    resize: none;
    width: 97%;
}

.brackets-gh .issue-comment-input .comment-preview {
    background-color: #fefefe;
    border: solid 1px #ccc;
    border-radius 6px;
    margin-bottom: 9px;
    margin-top: 10px;
    padding: 10px;
}

/* Dialogs and Panels */

/* List Panel */
.gh-issues-wrapper, .issue-details {
    position: relative;
}

.gh-issues-list td:first-child {
    width: 15px;
}

.gh-issues-wrapper .repo {
    color: #0083e8;
    font-weight: 400;
}

.issue-link {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #333;
}

.gh-issue:hover .issue-link {
    display: block;
    text-decoration: none;
}

.gh-issue-state {
    position: absolute;
    right: 240px;
    top: 15%;
}

.gh-issue-assignee {
    position: absolute;
    right: 40px;
    top: 15%;
}

.gh-issue-state .btn:first-child, .gh-issue-assignee .btn:first-child {
    margin-right: -5px;
}

/* New Gist */
.new-gist-dialog input, .new-issue-dialog textarea {
    resize: none;
    width: 98%;
}

.new-gist-dialog .error .alert.alert-error {
    display: block;
}

.new-gist-dialog .alert.alert-error {
    display: none;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.btn.secret {
    background-color: #dfd8ae;
}

/* New Issue */
.new-issue-dialog input, .new-issue-dialog textarea {
    resize: none;
    width: 98%;
}

.new-issue-dialog .error .alert.alert-error {
    display: block;
}

.new-issue-dialog .alert.alert-error {
    display: none;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

/* View Issue */

.view-issue-dialog .modal-header .user-avatar {
    float: left;
    margin-right: 10px;
    width: 35px;
}

.view-issue-dialog .modal-body {
    padding-top: 0;
    position: relative;
    height: 400px;
}

.view-issue-dialog .issue-body {
    margin-top: -5px;
}

.view-issue-dialog .issue-state {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 16px;
    line-height: 21px;
}

.view-issue-dialog.state-closed .issue-state.label-success, .view-issue-dialog.state-open .issue-state.label-error {
    display: none;
}

.view-issue-dialog .label.label-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.view-issue-dialog .issue-title, .view-issue-dialog .issue-creation {
    padding-left: 45px;
    padding-right: 45px;
}

.view-issue-dialog .issue-participants {
    margin-bottom: 10px;
    margin-top: -10px;
}

.view-issue-dialog .participants-avatars {
    display: inline-block;
    margin-left: 10px;
}

.view-issue-dialog .participants-avatars img {
    width: 30px;
}

.view-issue-dialog .issue-conversation .user-info img {
    width: 30px;
}

.view-issue-dialog .issue-conversation .user-info .comment-creation {
    float: right;
    text-align: right;
}

.view-issue-dialog .issue-conversation .user-info {
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.view-issue-dialog .issue-comment-input {
    padding-bottom: 39px;
}

.view-issue-dialog .issue-conversation .comment-body {
    margin-top: 10px;
}

.view-issue-dialog .issue-comment-input .nav .active a {
    background-color: #f7f7f7;
}

.view-issue-dialog .issue-comment-input .btn-success {
    margin-left: 10px;
}

.view-issue-dialog.state-open .btn-reopen, .view-issue-dialog.state-closed .btn-close {
    display: none;
}