[submodule "node/node_modules/async"]
	path = node/node_modules/async
	url = https://github.com/caolan/async.git
[submodule "node/node_modules/gh"]
	path = node/node_modules/gh
	url = git@github.com:jbalsas/gh.git
